
TCP_ProtocolChats.sln
TCP_ProtocolChats/App.config
TCP_ProtocolChats/bin/Debug/TCP_ProtocolChats.exe
TCP_ProtocolChats/bin/Debug/TCP_ProtocolChats.exe.config
TCP_ProtocolChats/bin/Debug/TCP_ProtocolChats.pdb
TCP_ProtocolChats/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TCP_ProtocolChats/obj/Debug/TCP_ProtocolChats.csproj.AssemblyReference.cache
TCP_ProtocolChats/obj/Debug/TCP_ProtocolChats.csproj.FileListAbsolute.txt
TCP_ProtocolChats/obj/Debug/TCP_ProtocolChats.csproj.SuggestedBindingRedirects.cache
TCP_ProtocolChats/obj/Debug/TCP_ProtocolChats.csproj.CoreCompileInputs.cache
TCP_ProtocolChats/obj/Debug/TCP_ProtocolChats.pdb
TCP_ProtocolChats/obj/Debug/TCP_ProtocolChats.exe
TCP_ProtocolChats/Properties/AssemblyInfo.cs
TCP_ProtocolChats/TCP_ProtocolChats.csproj
